<!DOCTYPE html>
<html>
<form action="/">
<label for="num_id">Enter a number</label>
<input type="text" name="num" id="num_id" value="What number do you want to square?">
<button>Calculate square</button>
</form>

<form action="/square/new">
<label for="num_id">Enter a number</label>
<input type="text" name="num" id="num_id" value="What number do you want to square?">
<button>Calculate square</button>
</form>

<form action="/square_root/new">
<label for="num_id">Enter a number</label>
<input type="text" name="num" id="num_id" value="What number do you want to square?">
<button>Calculate square root</button>
</form>

<form action="/payment/new">
</form>

<form action="/random/new">
</form>

</html>
