<!DOCTYPE html>
<html>
  <form action="/payment/results">
  <label for="apr_id">APR</label>
  <input type="text" name="apr" id="apr_id" >
  <label for="year_id">Number of years</label>
  <input type="text" name="year" id="year_id" >
  <label for="principal_id">Principal</label>
  <input type="text" name="principal" id="principal_id" >
  <button>Calculate monthly payment</button>
  </form>
</html>
