<!DOCTYPE html>
<html>
  <form action="/random/results">
  <label for="minimum_id">Minimum</label>
  <input type="text" name="minimum" id="minimum_id" >
  <label for="maximum_id">Maximum</label>
  <input type="text" name="maximum" id="maximum_id" >
  <button>Pick random number</button>
  </form>
</html>
