<!DOCTYPE html>
<html>
  <form action="/square_root/results">
  <label for="num_id">Enter a number</label>
  <input type="text" name="num" id="num_id" >
  <button>Calculate square root</button>
  </form>
</html>
